* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img {
  width: 90%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.back-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d88;
  mix-blend-mode: overlay;
}

.weatherCard {
  padding: 3rem 2rem;
  text-align: center;
  background-color: rgba(80, 136, 191, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 10;
  color: #061a47;
  margin: 0 1rem;
}

.weatherCard-body {
  margin-top: 0.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.weatherCard h1 {
  margin-top: 2rem;
}

.weatherCard-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.weatherCard-list li {
  padding: .3rem;
}

.weatherCard-input {
  width: 100%;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(236, 233, 233, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #061a47;
}


.weatherCard-search {
  background-color: #05445E;
  color: #cef;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

}



.weatherCard-button {
  background-color: transparent;
  border: 1.5px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 20px;
  padding: .5rem 1rem;
  font-weight: semibold;
  font-size: 1.4rem;
  color: #cef;
  border-color: #05445E;
  box-shadow: 0 0 40px 40px #05445E inset;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 1.5rem;
}

.weatherCard-button :hover {
  box-shadow: 0 0 10px 0 #05445E inset, 0 0 10px 4px #05445E;
}



.img-animation {
  animation: 8s infinite flotar;
}

@keyframes flotar {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, -25px);
  }

  75% {
    transform: translate(0, 25px);
  }

  100% {
    transform: translate(0, 0);
  }
}


/*-----------LOADER--------------------*/

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(41, 148, 202);
  border-color: rgb(124, 189, 221) transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

@media (max-width: 500px) {
  img {
    width: 60%
  }

  .weatherCard-body {
    flex-direction: column;
  }
}